body{
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    color: black;
    cursor: pointer
}
a{
    text-decoration: none;
    color: black;
    
}
nav{
    background-color: black;

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 20px 50px;

    
}

nav h1{
    color: white;

     cursor: pointer;
}

nav ul{
    display: flex;

    gap: 30px;

    list-style: none;

    
}

nav a{
    color: white;

    text-decoration: none;

    font-size: 18px;

     
}

nav a:hover{
    color: cyan;

    
}
.hero{
    display: flex;

    justify-content: space-around;

    align-items: center;

    padding: 80px 50px;

    background-color: white;

     
}

.hero-text h2{
    font-size: 40px;

    margin-bottom: 20px;

     
}

.hero-text p{
    font-size: 20px;

    margin-bottom: 20px;

     
}
.hero img{
    width: 350px;

    border-radius: 15px;

    box-shadow: 0 5px 15px rgba(0,0,0,0.2);

    
}
button{
    padding: 12px 25px;

    background-color: Turquoise;

    color: white;

    border: none;

    border-radius: 8px;

    font-size: 16px;

    cursor: pointer;

}

button:hover{
    background-color:darkcyan;
}
section{
    background-color: white;

    margin: 10px;

    padding: 30px;

    border-radius: 15px;

    box-shadow: 0 5px 10px rgba(0,0,0,0.1);

    
}
.project-card img{
    width: 250px;

    border-radius: 20px;

    margin-top: 20px;

    
}
footer{
    background-color: black;

    color: white;

    text-align:center ;

    padding: 20px;

    margin-top: 50px;

    
}